<head>
    <link href="global.css" rel="stylesheet" type="text/css" />
</head>

<div class="footer">
    <a href="example.com">
        <div>Accueil</div>
    </a>
    <a href="example.com">
        <div>Produits</div>
    </a>
    <a href="example.com">
        <div>À propos</div>
    </a>
    <a href="example.com">
        <div>Nous joindre</div>
    </a>
</div>