@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

body {
    /* Pour retirer la bordure autour de la fenetre complete. */
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    transition: 0.3s;
    color: #242424;
    background-color: rgb(255, 255, 255);
}

html {
	background-color: rgb(255, 230, 0);
}

h1 {
    font-weight: 900;
    font-size: 2em;
}

h2 {
    font-weight: 700;
    font-size: 1.8em;
}
/* ==== NAVIGATION BAR ==== */
/* majorité du navigation bar pris d'un ancien TP */
.navigation-bar {
	overflow: hidden;
	position: sticky;
	top: 0;
  	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.75);
	-webkit-backdrop-filter: blur(40px) saturate(200%);
	backdrop-filter: blur(40px) saturate(200%);
	z-index: 1000;
	
}

/* style des liens/boutons de la navbar */
.navigation-bar a {	
	padding: 15px;
	transition: 0.2s;
	color: rgb(255, 230, 0);
	text-decoration: none;
	font-weight: bold;
    font-size: 1.4em;
	float: left;
}

.navigation-bar a:hover {
	padding: 15px;
	transition: 0.2s;
	color: rgb(200, 180, 0);
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
	body {
        transition: 0.3s;
		background-color: #000000;
        color: rgb(225, 225, 225);
	}
}

/* ==== FOOTER ==== */
.footer {
	overflow: hidden;
	position: sticky;
	background: rgba(0, 0, 0);
	display: grid;
    place-content: center;
	border-top: rgb(255, 230, 0) 2px solid;
	grid-template-columns: 25% 25% 50%;
}

/* chaque "categorie" du footer, ex. liens, contacts, etc. */
.footer-categorie {
    display: flex;
    flex-direction: column;
}

/* chaque lien du footer */
.footer a {	
	transition: 0.2s;
	color: rgb(255, 230, 0);
	text-decoration: none;
	font-weight: bold;
    font-size: 1em;
}

.footer a:hover {
	padding: 15px;
	transition: 0.2s;
	color: rgb(200, 180, 0);
}



/* === VUE SPECIFIQUE ORDINATEUR === */
@media only screen and (min-width: 601px) {
    .footer {
		grid-template-columns: 25% 25% 50%;
	}
}

/* === VUE SPECIFIQUE MOBILE === */
@media only screen and (max-width: 600px) {
	.footer {
		grid-template-columns: 90%;
	}
}