@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

body {
    /* Pour retirer la bordure autour de la fenetre complete. */
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    transition: 0.3s;
    color: #242424;
    background-color: rgb(255, 255, 255);
}

h1 {
    font-weight: 900;
    font-size: 2em;
}

h2 {
    font-weight: 700;
    font-size: 1.8em;
}

/* majorité du navigation bar pris d'un ancien TP */
.navigation-bar {
	overflow: hidden;
	position: sticky;
	top: 0;
  	right: 0;
	left: 0;
	background: rgb(255, 230, 0);
	z-index: 1000;
}

.navigation-bar a {	
	padding: 15px;
	transition: 0.2s;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
    font-size: 1.4em;
	float: left;
}

.navigation-bar a:hover {
	padding: 15px;
	transition: 0.2s;
	background-color: rgb(200, 180, 0);
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
	body {
        transition: 0.3s;
		background-color: #242424;
        color: rgb(225, 225, 225);
	}
}