<head>
    <link href="global.css" rel="stylesheet" type="text/css" />
</head>

<div class="navigation-bar">
    <a href="/">
        <div id="nomSite">PEYABEILLE</div>
    </a>
    <a href="/">
        <div>Accueil</div>
    </a>
    <a href="/produits">
        <div>Produits</div>
    </a>
    <a href="/apropos">
        <div>À propos</div>
    </a>
    <a href="/nousjoindre">
        <div>Nous joindre</div>
    </a>
</div>