@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

body {
    /* Pour retirer la bordure autour de la fenetre complete. */
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    transition: 0.3s;
}

html {
	background-color: rgb(255, 230, 0);
}

h1 {
    font-weight: 900;
    font-size: 2em;
}

h2 {
    font-weight: 700;
    font-size: 1.8em;
}

.input-field-singlerow {
    box-sizing: border-box;
    border-radius: 10px;
    padding: 15px 10px;
    border: none;
    width: 100%;
}

/* === BOUTONS === */
.btn-acheter {
	font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.btn-acheter:hover {
    transform: scale(1.03);
    transition: 0.2s;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.btn-acheter a {
	color:#000000;
	text-decoration: none;
}

.btn-acheter a :visited{
	color:#000000;
}

/* Light Mode */
@media (prefers-color-scheme: light) {
	body {
        color: #242424;
        background-color: rgb(255, 255, 255);
	}

	.btn-acheter {
        background-color: rgb(255, 230, 0);
        color: black;
	}

    .btn-acheter:hover {
        background-color: rgb(255, 210, 0);
    }

    .input-field-singlerow {
        background-color: #efefef;
        border: rgb(200, 200, 200) 1px solid;
    }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
	body {
		background-color: #000000;
        color: rgb(225, 225, 225);
	}

	.btn-acheter {
		background-color: rgb(200, 180, 0);
		border: 2px solid black;
	}

    .input-field-singlerow {
        color: #ececec;
        background-color: #1f1f1f;
        border: rgb(75, 75, 75) 1px solid;
    }
}

/* === VUE SPECIFIQUE ORDINATEUR === */
@media only screen and (min-width: 601px) {
    .footer {
		grid-template-columns: 25% 25% 50%;
	}
}

/* === VUE SPECIFIQUE MOBILE === */
@media only screen and (max-width: 600px) {
	.footer {
		grid-template-columns: 90%;
	}
}