<head>
  <link href="../../../Global/global.css" rel="stylesheet" type="text/css" />
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<%- include ('../../../Global/headerBar.ejs') %>

  <div class="">
    <div class="">
      <h1 class="titre">Accueil</h1>
      <div class="bloc gauche"
        style="background-image: url('https://www.airtransat.com/getmedia/cafc7e6e-d0ff-497e-9998-e708f41aa191/Montreal-estival.aspx');">
        <div class="bloc-contenu gauche">
          <h2>Titre de section</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum consequuntur, animi, illum dolorum unde
            nobis accusantium expedita commodi consequatur culpa dolores. Aliquam ipsam magni non error cumque sapiente!
            Dolorum, natus? lorem</p>
        </div>
      </div>
    </div>
  </div>
  <br />