<head>
  <link href="global.css" rel="stylesheet" type="text/css" />
  <%- include ('../../../Global/headerBar.ejs') %>
</head>

<div class="">
  <div class="">
    <h1 class="titre">Accueil</h1>
  </div>
</div>
<br />
