<head>
  <link href="../../../Global/global.css" rel="stylesheet" type="text/css" />
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<%- include ('../../../Global/headerBar.ejs') %>

<div class="">
  <div class="">
    <h1 class="titre">Accueil</h1>
  </div>
</div>
<br />
