/* ==== NAVIGATION BAR ==== */
/* majorité du navigation bar pris d'un ancien TP */
.navigation-bar {
	overflow: hidden;
	position: sticky;
	top: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.75);
	-webkit-backdrop-filter: blur(40px) saturate(200%);
	backdrop-filter: blur(40px) saturate(200%);
	z-index: 1000;
}

/* style des liens/boutons de la navbar */
.navigation-bar a {
	display: flex;
	color: rgb(255, 230, 0);
	text-decoration: none;
	font-weight: bold;
	font-size: 1.4em;
	padding: 15px;
	transition: 0.2s;
}

.hamburger {
	border: 0;
	cursor: pointer;
	background: transparent;
	font-size: 2rem;
	position: absolute;
	margin-top: 30px;
	left: 10px;
	transform: translateY(-50%);
	color: rgb(255, 230, 0);
}

/* === DARK MODE === */
@media (prefers-color-scheme: light) {
	.navigation-bar {
		background-color: #ffffff88;
	}

	.navigation-bar a, .hamburger {
		color: rgb(0, 0, 0);
	}
}


/* === VUE SPECIFIQUE ORDINATEUR === */
@media only screen and (min-width: 601px) {
	.navigation-bar a {
		float: left;
	}

	.navigation-bar a:hover {
		padding: 15px;
		transition: 0.2s;
		color: rgb(200, 180, 0);
	}

	.hamburger {
		display: none;
	}
}

/* === VUE SPECIFIQUE MOBILE === */
@media only screen and (max-width: 600px) {
	.hamburger {
		display: block;
	}

	.navigation-bar-menu {
		display: none;
		margin-top: 20px;
		padding-bottom: 20px;
		border-bottom: 2px solid rgb(255, 230, 0);
	}

	.navigation-bar-menu.expanded {
		display: block;
	}

	#navigation-bar-logo {
		justify-content: center;
	}
}