.container {
    background-color: rgba(200,190,181,255);
    display: flex;
    /* display points next to each other */
    flex-wrap: wrap;
    /* allow points to wrap to next line if necessary */
    justify-content: space-between;
    /* add space between points */
    max-width: auto;
    /* set maximum width for container */
    margin: 0;
    margin-bottom: 0;
    

    /* center container */
}

/* Style each point section */
.section {
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.flexContainer{
    display: flex;
    align-items: flex-start;
}
.imgContainer{
    flex: 1;

}

.textContainer{
    flex:1;
    padding-right: 100px ;
    overflow: hidden;
}

.background {
    margin: auto;
}

.background h3 {
    margin-top: 10px;
}

.img_acc1 {
    width: 100%;
    object-fit: cover;
    opacity: 80%;
    border-radius: 10px;
}
.img_acc {
    width: 90%;
    object-fit: cover;
    opacity: 90%;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    z-index: 1;
}

.overlay h3 {
    font-size: 3rem;
    font-style: italic;
}

.overlay p {
    font-size: 1.5rem;
    font-style: italic;
}

.overlay button {
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 230, 0);
    color: black;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.overlay button:hover {
    background-color: rgb(255, 210, 0);
    transform: scale(1.03);
    transition: 0.2s;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}


/* Dark Mode */
@media (prefers-color-scheme: dark) {
	.section {
        background-color: #242424;
    }
}

/* Light Mode */
@media (prefers-color-scheme: light) {
	.section {
        background-color: #f2f2f2;
    }
}

@media screen and (max-width: 768px) {
    .flexContainer {
        flex-direction: column;
        margin: 5%;

    }

    .imgContainer,
    .textContainer {
        width: 100%;
        margin-left: 20px;
    }
    .section{
        margin-right: 40px;
    }
    .imgContainer {
        margin-bottom: 20px;
    }
}