.commande{
    border-bottom: 2px solid;
    border-color: black;
    border-radius:10px;
    background-color: lightgray;
    display: flex;
    padding:8px;
    margin: 15px;
    text-align: center;
    justify-content: space-around;
    
}
.bttnCompleter{
    border-radius: 20px;
    background-color: green;
    font-size:large;
    width: 10vh;
    height: 5vh;
}

.bttnAnnuler{
    border-radius: 20px;
    background-color: red;
    font-size:large;
    width: 10vh;
    height: 5vh;
}
.bouttons{

}