.informations {
    background-color: lightgray;
    border-radius: 10px;
    width: 70%;
    margin: auto;
    padding: 5px;
}

.input {
    /*open source input : https://uiverse.io/alexruix/jolly-emu-80*/
    max-width: 300px;
    width: 250px;
    height: 44px;
    background-color: white;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25, .01, .25, 1) 0s, color .3s cubic-bezier(.25, .01, .25, 1) 0s, background .2s cubic-bezier(.25, .01, .25, 1) 0s;
}

.input:hover {
    outline: none;
    border-color: black;
}

.form {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    font-size: 25px;
}

.confirmer {
    border-radius: 15px;
    background-color: yellow;
    width: 285px;
    height: 35px;
    align-self: flex-end;
    font-weight: bold;
    font-size: 20px;
}

#btn_logout {
    background-color: #cc0000;
    color: white;
}

.containerCommande {
    border-radius: 10px;
    margin: auto;
    border-radius: 10px;
    width: 70%;
    margin-top: 40px;
}

.table {
    width: 90%;
    table-layout: fixed;
    border: 1px solid;
    border-collapse: collapse;
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
    border-spacing: 1;

}

.table th {
    border: 1px solid;
    background-color: yellow;
}

.table td {
    border: 1px solid;
    /* text-align: center;
    vertical-align: middle; */
}

.liste {
    text-align: left;
    vertical-align: middle;
}

.imageFleurs {
    width: 100%;
    height: 45vh;
    object-fit: cover;
    filter: blur(3px);
}

.overlay {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    z-index: 1;
    border: 1px solide red;
}

.bouttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.form {
    display: flex;
    flex-wrap: wrap;
}

.infos {
    padding: 10px;
    order: 1;
    flex: 1 0 25%;
}

.courriel {
    padding: 10px;
    order: 1;
    flex: 1 0 25%;
}

.motdepasse {
    padding: 10px;
    order: 1;
    flex: 1 0 25%;
}

.addresse {
    padding: 10px;
    order: 2;
    flex: 1 0 40%;
}

.confirmer {
    order: 2;
    flex: 1 0 50%;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {

    .informations,
    .containerCommande {
        background-color: #1f1f1f;
        border: rgb(75, 75, 75) 1px solid;
    }
}

/* Light Mode */
@media (prefers-color-scheme: light) {

    .informations,
    .containerCommande {
        background-color: #efefef;
        border: rgb(200, 200, 200) 1px solid;
    }
}