.body {
    height: 100vh;
    /* https://cssgradient.io/ */
    background: linear-gradient(304deg, rgba(255,76,0,1), rgba(255,167,0,1), rgba(255,230,0,1));
	background-size: 600% 600%;
	animation: background_animation 15s ease infinite;
}

@keyframes background_animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
    width: 400px;
}

    border: none;
}

