.dashboard_container{
    width: 90vh;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    
}

.AllerCommande{
    width: 50vh;
    border-radius: 10px;
    text-align: center;
}
.AllerInventaire{
    width: 50vh;
    border-radius: 10px;
    text-align: center;
}

.button{
    background-color: yellow;
    border-radius: 10px;
    width: 20vh;
    height: 8vh;
    font-size: large;
/* Dark Mode */
@media (prefers-color-scheme: dark) {
	.dashboard_container{
        background-color: #141414;        
    }

    .AllerCommande{
        background-color: #141414;
    }
    
    .AllerInventaire{
        background-color: #141414;
    }
}

/* Light Mode */
@media (prefers-color-scheme: light) {
	.dashboard_container{
        background-color: #efefef;
    }
    
    .AllerCommande{
        background-color: #efefef;
    }

    .AllerInventaire{
        background-color: #efefef;
    }
}