/* ==== FOOTER ==== */
.footer {
	height: auto;
	overflow: hidden;
	position: sticky;
	/* background: rgba(0, 0, 0); */
	display: grid;
	border-top: rgb(255, 230, 0) 2px solid;
}

.footer_categorie {
	margin-right: 2rem;
}

.footer_categorie:last-of-type {
	margin-right: 0;
}

.footer_ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer_li {
	margin-bottom: 0.5rem;
}

.footer_li a {
	color: #333;
	text-decoration: none;
}

.footer_li a:hover {
	padding: 5px;
	transition: 0.2s;
	color: rgb(200, 180, 0);
}

.footer_liens label {
	display: block;
	margin-bottom: 0.5rem;
}

.footer h7 {
	margin-top: 20px;
	font-size: 14px;
	color: #999;
}

/* === VUE SPECIFIQUE ORDINATEUR === */
@media only screen and (min-width: 601px) {
	.footer {
		margin: auto;
		padding: auto;
		grid-template-columns: 15% 15% 15% 15%;
		place-content: center;
	}
}

/* === VUE SPECIFIQUE MOBILE === */
@media only screen and (max-width: 600px) {
	.footer {
		margin: auto;
		margin-left: 20px;
		padding: auto;
		grid-template-columns: auto;
		place-content: left;
	}
}