.containerMessage{
    padding: 8px;
    margin: 15px;
    border-radius: 10px;
}
.message{
    border-color: black;
    border-radius: 10px;
    display: flex;
    padding: 8px;
    margin: 15px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    background-color: lightgray;
}
.page{
    min-height: 100vh;
    padding: 5px;
}