.page_nousjoindre_grid_carte_image {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 20px;
    height: 100%;
    width: 100%;
    margin-top: 3%;
}

.page_nousjoindre_grid_item:first-child {
    margin-right: 20px;
    flex-basis: 50%;
}

.page_nousjoindre_grid_item:last-child {
    flex-basis: 50%;
}

.page_nousjoindre_grid_item {
    display: flex;
    flex-direction: column;
}

/* Grid pour l'adresse et la carte */
.page_nousjoindre_contact {
    display: grid;
    place-content: center;
    grid-template-rows: 30% 70%;
    margin: 0 auto;
}

/* item de la grille contact */
.page_nousjoindre_contact_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 25%;
}

/* adresse */
.page_nousjoindre_adresse {
    text-align: center;
    line-height: 0;
}

/* carte */
#page_nousjoindre_iframe_map {
    border: 1px solid black;
    display: block;
    border-radius: 10px;
}

/* === VUE SPECIFIQUE ORDINATEUR === */
@media only screen and (min_width: 601px) {
    .page_nousjoindre_grid_carte_image {
        grid-template-columns: 60% 40%;
        height: 100vh;
    }

    /* carte */
    #page_nousjoindre_iframe_map {
        width: 45vw;
        height: 65vh;
    }

    /* arrondir les coins du centre de limage */
    .page_nousjoindre_image {
        border-radius: 0px 10px 10px 0px;
    }
}

/* === VUE SPECIFIQUE MOBILE === */
@media only screen and (max_width: 600px) {
    .page_nousjoindre_grid_carte_image {
        grid-template-columns: auto;
        width: 90vw;
    }

    .page_nousjoindre_contact {
        margin-top: 10vh;
    }

    .page_nousjoindre_image {
        width: 100vw;
    }

    #page_nousjoindre_iframe_map {
        border: 1px solid black;
        width: 90vw;
        height: 70vh;
        display: block;
    }


}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-input {
    margin: 10px 0;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-textarea {
    margin: 10px 0;
    width: 100%;
    max-width: 400px;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
  }
  
  .form-button {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #3f51b5;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #303f9f;
  }
  
  @media screen and (max-width: 480px) {
    .form-input, .form-textarea {
      max-width: 100%;
    }
  }