.page_nousjoindre_grid_carte_image {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
   /* margin-left: 20px; */
    height: 100%;
    width: 100%;
    margin-top: 8%;
    margin-left: 2%;
}

.page_nousjoindre_grid_item:first-child {
    margin-right: 20px;
    flex-basis: 50%;
}

.page_nousjoindre_grid_item:last-child {
    flex-basis: 50%;
}

.page_nousjoindre_grid_item {
    display: flex;
    flex-direction: column;
}

/* Grid pour l'adresse et la carte */
.page_nousjoindre_contact {
    display: grid;
    place-content: center;
    grid-template-rows: 30% 70%;
    margin: 0 auto;
}

/* item de la grille contact */
.page_nousjoindre_contact_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 30%;
    line-height: 0%;
}

/* adresse */
.page_nousjoindre_adresse {
    text-align: center;
    line-height: 0;
}

/* carte */
#page_nousjoindre_iframe_map {
    border: 1px solid black;
    display: block;
    border-radius: 10px;
}
/* arrondir les coins du centre de limage */
.page_nousjoindre_image {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* === VUE SPECIFIQUE ORDINATEUR === */
@media only screen and (min_width: 601px) {
    .page_nousjoindre_grid_carte_image {
        grid-template-columns: 60% 40%;
        height: 100vh;
    }

    /* carte */
    #page_nousjoindre_iframe_map {
        width: 45vw;
        height: 65vh;
    }

    /* arrondir les coins du centre de limage */
    .page_nousjoindre_image {
        border-radius: 0px 10px 10px 0px;
        width: 600px;
        height: 700px;
    }
}

/* === VUE SPECIFIQUE MOBILE === */
@media only screen and (max_width: 600px) {
    .page_nousjoindre_grid_carte_image {
        grid-template-columns: auto;
        width: 90vw;
    }

    .page_nousjoindre_contact {
        margin-top: 10vh;
    }

    .page_nousjoindre_image {
        width: 50px;
        height: 100px;
    }
    .page_nousjoindre_grid_item {
        display: grid;
        flex-direction: column;
    }
    #page_nousjoindre_iframe_map {
        border: 1px solid black;
        width: 90vw;
        height: 70vh;
        display: block;
    }


}
