.page_produit_grid {
    display: grid;
    padding-top: 40px;
}

/* === IMAGE SLIDER === */
/* code pris et modifie de: https://css_tricks.com/can_get_pretty_far_making_slider_just_html_css/ */

.carousel {
    display: flex;
    flex-direction: column;
}

/* composant slider images */
.carousel_slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

}

/* tous les div dans le slider */
.carousel_slider>div {
    scroll-snap-align: start;
    width: 90%;
    flex-shrink: 0;
    margin: 0 10px 0 10px;
}

/* images dans le slider */
.carousel_slider>div>.carousel_image {
    height: 98%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

/* === INFOS PRODUIT === */
.page_produit_grid_item_infos {
    padding-top: 30px;
    text-align: left;
}

/* === BOUTON ACHETER === */
.page_produit_grid_item_acheter {
    place-content: center;
}

.boutons_navigation {
    display: grid;
    place-content: center;
    margin: auto;
    text-align: center;
    grid-template-columns: repeat(auto-fill, 40px);
    width: 40vw;
    gap: 10px;
}

.boutons_navigation:visited {
    color: inherit;
}

.navigation_image_item {
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
}

/* === VUE SPECIFIQUE ORDINATEUR === */
@media only screen and (min-width: 601px) {
    .page_produit_grid {
        grid-template-columns: 50% 40%;
        height: 100vh;
    }

    .page_produit_grid_item_images {
        margin-left: 10%;
    }

    .carousel_slider {
        width: 80%;
        height: 70vh;
    }
}

/* === VUE SPECIFIQUE MOBILE === */
@media only screen and (max_width: 600px) {
    .page_produit_grid {
        grid-template-columns: auto;
    }

    /* code pris et modifie de: https://css_tricks.com/can_get_pretty_far_making_slider_just_html_css/ */
    .page_produit_grid_item_images {
        margin-left: 2%;
        margin-right: 2%;
    }

    /* composant slider images */
    .carousel_slider {
        width: 100%;
        height: 40vh;
        text-align: center;
    }

    /* tous les div dans le slider */
    .carousel_slider>div {
        scroll-snap-align: start;
        width: 90%;
        flex-shrink: 0;
        margin: 0 10px 0 10px;
    }

    /* images dans le slider */
    .carousel_slider>div>.carousel_image {
        height: 98%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}

/* Light Mode */
@media (prefers-color-scheme: light) {
    .navigation_image_item {
        background-color: #fafafa;
        border: rgb(200, 200, 200) 1px solid;
    }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    .navigation_image_item {
        color: #ececec;
        background-color: #2e2e2e;
        border: rgb(75, 75, 75) 1px solid;
    }
}