.ContainerInventaire{
    width: 85vw;
    border-radius: 10px;
    margin:auto;
    display: flex;;
}

.contenu_titre {
    width: 100%;
    font-weight: 600;
    font-size: 1.5em;
}

/* partie ".contenu" prise d'un projet perso https://codeberg.org/MXMVNCNT/hostile-to-jmp/src/branch/main/css/service.css */
/* animate the opening of a service */
.contenu {
    transition: height 0.2s ease;
    padding: 20px;
}

.contenu:not([open]) {
    height: 2em;
}
/* 
.contenu[open] {
    height: 33em;
} */

/* fade in the service content when opened */
.contenu:not([open]) table {
    opacity: 0%;
    transition: 0.5s;
}

.contenu[open] table {
    opacity: 100%;
    transition: 0.5s;
}

.form{
    padding:10px;
    width:30%;
}

.form label{
    display:inline-block;
    text-align: right;
    width:25vh;
    padding:7px;
}
.form textarea{
    height: 10vh;
}
.ContainerImage{
    width: 55%;
}

.bttnConfirmer, .bttnSupprimer {
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}


/* Dark Mode */
@media (prefers-color-scheme: dark) {
	.input_field {
        color: #ffffff;
        background-color: #2c2c2c;
    }

    .ContainerInventaire {
        border-color: black;
        background-color: #141414;
    }

    .bttnConfirmer {
        background-color: #26a269;
    }

    .bttnSupprimer {
        background-color: #c01c28;

    }
}

/* Light Mode */
@media (prefers-color-scheme: light) {
	.input_field {
        background-color: #ffffff;
    }

    .ContainerInventaire {
        background-color: #efefef;
        border: rgb(200, 200, 200) 1px solid;
    }

    .bttnConfirmer {
        background-color: #2ec27e;
    }

    .bttnSupprimer {
        background-color: #e01b24;
    }
}