.container {
    display: flex;
    position: sticky;
    top: 0;
    bottom: 0;
}

.partie_droite {
    flex: 1;
}

.partie_gauche {
    flex: 2;
}

/* === VUE SPECIFIQUE ORDINATEUR === */
@media only screen and (min-width: 601px) {
    .nom_site {
        margin: 0;
        line-height: 1;
        font-size: 45vw;
        word-wrap: break-word;
        font-weight: 900;
    }
}
/* === VUE SPECIFIQUE MOBILE === */
@media only screen and (max-width: 600px) {
    .nom_site {
        visibility: hidden;
    }
}