<head>
  <%- include('./style.ejs'); %>
</head>

<%- include ('../../../Global/headerBar.ejs') %>

  <h1 id="titre-page">Nous joindre</h1>

  <div class="">

    <div class="grid-carte-image">

      <div class="grid-item image">
        <img src="https://static.actu.fr/uploads/2021/03/ruche-miel-adobe-stock.jpeg" alt="">
      </div>

      <div class="grid-item contact">

        <div class="contact-item adresse">
          <h2>Pour nous joindre</h2>
          <p>1234 rue des Hustler Bulgariens</p>
          <p>(514) 555-8547</p>
          <p>peyabeille@abeille.com</p>

        </div>

        <div class="contact-item div-carte">
          <iframe id="iframe-map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="https://www.openstreetmap.org/export/embed.html?bbox=-74.17625931207037%2C45.328975270124204%2C-73.18748978082037%2C45.746440307251355&amp;layer=mapnik">
          </iframe>
          <br />
          <small>
            <a href="https://www.openstreetmap.org/#map=11/45.5381/-73.6819">Carte plus grande</a>
          </small>
        </div>

      </div>

    </div>

  </div>
  <br />
  <%- include ('../../../Global/footer.ejs') %>