<head>
  <link href="../../../Global/global.css" rel="stylesheet" type="text/css" />
  <%- include('./style.ejs'); %>
</head>

<%- include ('../../../Global/headerBar.ejs') %>
<div class="">
  <div class="">
    <h1>Nous joindre</h1>
  </div>
</div>
<br />
