<head>
  <%- include('./style.ejs'); %>
</head>

<%- include ('../../../Global/headerBar.ejs') %>

  <h1 id="titre-page">Nous joindre</h1>

  <div class="">
    
    <div class="div-map">
      <iframe id="iframe-map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        src="https://www.openstreetmap.org/export/embed.html?bbox=-74.17625931207037%2C45.328975270124204%2C-73.18748978082037%2C45.746440307251355&amp;layer=mapnik">
      </iframe>
      <br />
      <small>
        <a href="https://www.openstreetmap.org/#map=11/45.5381/-73.6819">Carte plus grande</a>
      </small>
    </div>

  </div>
  <br />
  <%- include ('../../../Global/footer.ejs') %>